.forgot-pw-cont {
  min-width: 63.5vw;
  min-height: 87vh;
  font-style: italic;
}

.forgot-pw-form {
  width: 25vw;
  height: 40vh;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.forgot-pw-form h1, .forgot-pw-form p {
    text-align: center;
}

.send-code {
    max-width: 80%;
    margin: 0 auto 20px auto;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}