.login-container {
  min-width: 63.5vw;
  min-height: 87vh;
  font-style: italic;
}

.login-form {
  width: 25vw;
  height: 40vh;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-form h1 {
  text-align: center;
}

.login-button {
  width: 100%;
  height: 30px;
  text-align: center;
}

.form-footer {
  display: flex;
}

.form-footer a {
  margin: auto auto 0px 15px;
  text-decoration: none;
}

.form-footer a:active {
  text-decoration: underline;
}