.scholarship-card {
  min-height: 400px;
  background-color: #d3a832;
  text-align: center;
  position: relative;
}

.scholarship-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.scholarship-img img {
  max-width: 30%;
  max-height: 30%;
}

.scholarship-details {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 10%;
}

.d-col {
  display: flex;
  flex-direction: column;
  text-align: left;
}
