:root {
  font-family: "hoefler-text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #563d39;
  background-color: #e0ba1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}

.aside-border {
  border-right: 3px solid #563d39;
  min-width: 35vw;
  min-height: 86vh;
}

.textbox-xs {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin: 0 auto 15px 0;
}

.textbox-s {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto 15px auto;
}

.textbox-l {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto 15px auto;
}

.textbox-xl {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 15px auto;
}

input[type="text"] {
  background-color: inherit;
  border: 1px solid #563d39;
  height: 20px;
}

.submit-button-container {
  width: 70%;
  height: 30px;
  text-align: right;
}

#submit-button {
  width: 143px;
  max-height: 30px;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #563d39;
  font-family: inherit;
  font-style: inherit;
  background-color: inherit;
}
