:root {
  font-family: "hoefler-text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #563d39;
  background-color: #e0ba1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-format {
  display: flex;
}

.aside-border {
  border-right: 3px solid #563d39;
  min-width: 35vw;
  min-height: 86vh;
}

.login-form input {
  background-color: inherit;
  border: 1px solid black;
  height: 20px;
}

.submit-button {
  width: 100%;
  height: 30px;
  text-align: center;
}